body {
    background-color: rgb(246, 141, 36) !important;
}

.selection {
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    border: none;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.3);
}

.result-selection {
    opacity: .5;
    font-size: 2.5rem;
}

.result-selection.winner {
    opacity: 1;
    font-size: 3rem;

}

li {
    text-decoration: none;
    list-style-type: none;
}